<?xml version="1.0" ?>
<config>
    <modules>
        <ASI_SomeAPI>
            <version>1.0.0</version>
        </ASI_SomeAPI>
    </modules>
    <global>
        <!--<models>
            <someapi>
                <class>ASI_SomeAPI_Model</class>
                <resourceModel>someapi_resource</resourceModel>
            </someapi>
            <someapi_resource>
                <class>ASI_SomeAPI_Resource</class>
                <entities>
                    <block>
                        <table>bearer_tokens</table>
                    </block>
                </entities>
            </someapi_resource>
        </models>
        <resources>
            <someapi_setup>
                <setup>
                    <module>ASI_SomeAPI</module>
                </setup>
            </someapi_setup>
        </resources>-->

        <helpers>
            <someapi>
                <class>ASI_SomeAPI_Helper</class>
            </someapi>
        </helpers>
    </global>
    <frontend>
        <routers>
            <someapi>
                <use>standard</use>
                <args>
                    <module>ASI_SomeAPI</module>
                    <frontName>someapi</frontName>
                </args>
            </someapi>
        </routers>
    </frontend>
    <admin>

    </admin>
    <defalut>

    </defalut>
    <API>
        <item>
            <version>1.0</version>
            <list_commands>
                <command>
                    <name>GetProducts</name>
                    <handler>GetProductsV1</handler>
                    <validators>
                        <validator>GetProductsValidator</validator>
                    </validators>
                    <properties>

                    </properties>
                </command>
            </list_commands>
        </item>
    </API>
</config>