<?xml version="1.0" ?>
<config>
    <modules>
        <ASI_SomeAPI>
            <version>1.0.0</version>
        </ASI_SomeAPI>
    </modules>
    <global>
        <blocks>
            <someapi>
                <class>ASI_SomeAPI_Block</class>
            </someapi>
        </blocks>
        <models>
            <someapi>
                <class>ASI_SomeAPI_Model</class>
                <resourceModel>someapi_resource</resourceModel>
            </someapi>
            <someapi_resource>
                <class>ASI_SomeAPI_Model_Resource</class>
                <entities>
                    <block>
                        <table>bearer_tokens</table>
                    </block>
                </entities>
            </someapi_resource>
        </models>
        <resources>
            <someapi_setup>
                <setup>
                    <module>ASI_SomeAPI</module>
                </setup>
            </someapi_setup>
        </resources>
        <helpers>
            <someapi>
                <class>ASI_SomeAPI_Helper</class>
            </someapi>
        </helpers>
    </global>
    <frontend>
        <routers>
            <someapi>
                <use>standard</use>
                <args>
                    <module>ASI_SomeAPI</module>
                    <frontName>someapi</frontName>
                </args>
            </someapi>
        </routers>
    </frontend>
    <admin>

    </admin>
    <defalut>

    </defalut>
    <API>
        <api_v1>
            <version>1.0</version>
            <list_commands>
                <command1>
                    <name>GetLastProducts</name>
                    <handler>GetProductsHandler</handler>
                    <validators>
                        <validator>GetProductsValidator</validator>
                    </validators>
                    <properties>

                    </properties>
                </command1>

                <command2>
                    <name>GetProducts22</name>
                    <handler>GetProductHandler</handler>
                    <validators>
                        <validator>GetProductsValidator</validator>
                    </validators>
                    <properties>

                    </properties>
                </command2>
            </list_commands>
        </api_v1>

        <api_v2>
            <version>2.0</version>
            <list_commands>
                <command2>
                    <name>GetProducts</name>
                    <handler>GetProductsHandler</handler>
                    <validators>
                        <validator1>GetProductsValidator</validator1>
                        <validator2>GetProductsValidator</validator2>
                    </validators>
                    <properties>

                    </properties>
                </command2>
            </list_commands>
        </api_v2>
    </API>
    <email>someemail@gmail.com</email>
</config>